@use '@angular/material' as mat;

@include mat.core();

$start-project-primary: mat.define-palette(mat.$blue-gray-palette, 200);
$start-project-accent: mat.define-palette(mat.$green-palette, 400);

$start-project-warn: mat.define-palette(mat.$red-palette);

$start-project-theme: mat.define-light-theme((
  color: (
    primary: $start-project-primary,
    accent: $start-project-accent,
    warn: $start-project-warn,
  )
));

@include mat.all-component-themes($start-project-theme);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
